{% extends 'stud_navbar.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
   <br> <h3 align="center">Edit Your Profile Here</h3><br>
    <table align="center" >

        <tr>
            <td>Name</td>
            <td><input type="text" name="txtname" value="{{ data.user }}"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="number" name="txtphone" value="{{ data.Stud_Phone }}"></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td><input type="number" name="txtsem" value="{{ data.Stud_Semester }}"></td>
        </tr>
        <tr>
            <td>Course</td>
            <td>
                <select name="ddlcourse">
                  <option selected>{{ data.Stud_Course }}</option>
                    {% for i in Course_Data %}
                    <option>{{ i.Course_Name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    <tr>
    <td><input type="submit" value="Update"></td>
   </tr>
    </table>
</form>
{% endblock %}